<!-- Footer -->
<footer id="footer">
  <section class="footersocial">
    <div class="container">
      <div class="row">
        <div class="span3 aboutus">
          <h2>Về chúng tôi</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt facere incidunt aliquid, officia laborum debitis. Aliquam provident voluptatem, reiciendis unde quis harum maxime doloribus, a corrupti, facere eos dolor voluptate.
          </p>
        </div>
        <div class="span3 contact">
          <h2>Liên hệ</h2>
          <ul>
            <li class="phone"> +84 905992386</li>
            <li class="email"> laravelhung@gmail.com</li>
          </ul>
        </div>
        <div class="span3 twitter">
          <h2>Twitter </h2>
          <p>coming soon</p>
        </div>
        <div class="span3 twitter">
          <h2>Facebook </h2>
          <p>coming soon</p>
        </div>
      </div>
    </div>
  </section>
  <section class="footerlinks">
    <div class="container">
      <div class="info">
        <ul>
          <li><a href="#">Chính sách bảo mật</a>
          </li>
          <li><a href="#">Điều khoản và điều kiện</a>
          </li>
          <li><a href="#">Đại lý</a>
          </li>
          <li><a href="#">Tin tức</a>
          </li>
        </ul>
      </div>
      <div id="footersocial">
        <a href="#" title="Facebook" class="facebook">Facebook</a>
        <a href="#" title="Twitter" class="twitter">Twitter</a>
        <a href="#" title="Googleplus" class="googleplus">Googleplus</a>
        <a href="#" title="Skype" class="skype">Skype</a>
      </div>
    </div>
  </section>
  <section class="copyrightbottom">
    <div class="container">
      <div class="row">
        <div class="span6 textright pull-right">Angular Shop @2017</div>
      </div>
    </div>
  </section>
  <a id="gotop">Back to top</a>
</footer>