<div id="maincontainer" *ngIf="!flag_search1">
    <section id="product">
        <div class="container">
            <!--  breadcrumb -->
            <ul class="breadcrumb">
                <li>
                    <a routerLink="" class="js-home">Trang chủ</a>
                    <span class="divider">/</span>
                </li>
                <li class="active">Thanh toán</li>
            </ul>
            <form class="form-horizontal" (ngSubmit)="checkout(f)" #f="ngForm">
                <input type="hidden" name="_token" value="">
                <div class="row">
                    <!-- Account Login-->
                    <div class="span9">

                        <div class="checkoutsteptitle">Chi tiết giao hàng
                            <a class="modify"></a>
                        </div>
                        <div class="checkoutstep">
                            <div class="row">
                                <fieldset>
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label">Họ và tên<span class="red">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="name" class="form-control" required minlength="4" maxlength="24" name="name" [(ngModel)]="name1" #name="ngModel" value="{{name1}}">
                                                <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                                                    <div [hidden]="!name.errors.required">
                                                        Name is required
                                                    </div>
                                                    <div [hidden]="!name.errors.minlength">
                                                        Name must be at least 4 characters long.
                                                    </div>
                                                    <div [hidden]="!name.errors.maxlength">
                                                        Name cannot be more than 24 characters long.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Địa chỉ<span class="red">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="address" class="form-control" required name="address" [ngModel]="" #address="ngModel" value="{{address}}">
                                                <div *ngIf="address.errors && (address.dirty || address.touched)" class="alert alert-danger">
                                                    <div [hidden]="!address.errors.required">
                                                        Address is required
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">EMail<span class="red">*</span></label>
                                            <div class="controls">

                                                <input type="text" id="email" class="form-control" required name="email" [(ngModel)]="email1" #email="ngModel" value="{{email1}}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                                <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                                                    <div [hidden]="!email.errors.required">
                                                        Email is required
                                                    </div>
                                                    <div [hidden]="!email.errors.pattern">
                                                        Email is invalid
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label">Di động:<span class="red">*</span></label>
                                            <div class="controls">
                                                <input type="text" id="phone" class="form-control" required name="phone" [ngModel]="" #phone="ngModel" value="{{phone}}" pattern="^(01[2689]|09)[0-9]{8}$">
                                                <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
                                                    <div [hidden]="!phone.errors.required">
                                                        Phone is required
                                                    </div>
                                                    <div [hidden]="!phone.errors.pattern">
                                                        Phone is invalid
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                        <div class="checkoutsteptitle">Sản phẩm
                            <a class="modify"></a>
                        </div>

                        <div class="checkoutstep" *ngIf="!no_product">
                            <div class="cart-info">
                                <table class="table table-striped table-bordered">
                                    <tr>
                                        <th class="image">Hình ảnh</th>
                                        <th class="name">Tên sản phẩm</th>

                                        <th class="quantity">Số lượng</th>
                                        <th class="price">Đơn giá</th>
                                        <th class="total">Tổng</th>
                                    </tr>



                                    <tr *ngFor="let item of product_giohang">
                                        <td class="image">
                                            <a href="#"><img title="product" alt="product" src="{{link_img}}{{item[0].options.img}}" height="50" width="50"></a>
                                        </td>
                                        <td class="name"><a href="#">{{item[0].name}}</a></td>
                                        <td class="quantity"><input type="text" size="1" value='{{item[0].qty}}' name="quantity" class="span1 qty" disabled="disabled">
                                        </td>

                                        <td class="price">{{item[0].price | formatNumVN }} D</td>
                                        <td class="total">{{item[0].subtotal | formatNumVN }} D</td>
                                    </tr>


                                </table>
                            </div>
                            <div class="row">
                                <div class="pull-right">
                                    <div class="span4 pull-right">
                                        <table class="table table-striped table-bordered ">
                                            <tbody>
                                                <tr>
                                                    <td><span class="extra bold totalamout">Tổng tiền :</span></td>
                                                    <td><span class="bold totalamout">{{total | formatNumVN }} D</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <a><button [disabled]="!f.form.valid" class="btn btn-orange pull-right">Đặt hàng</button></a>
                                        <a routerLink="/gio-hang"><button class="btn btn-orange pull-right mr10">Sửa giỏ hàng</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container" *ngIf="no_product">
                            <p>Không có sản phẩm nào trong giỏ hàng. Vui lòng quay lại mua sắm !</p>
                            <p>
                                <a routerLink=""><button class="btn btn-orange pull-left js-home">Tiếp tục mua sắm</button></a>
                            </p>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </section>
</div>

<app-dialog [(visible)]="showDialog">
    <p class="alert alert-success" style="margin:0">Xin chúc mừng! Bạn đã mua hàng thành công. Đơn hàng của bạn được gửi đồng thời tới email của bạn</p>
    <p style="margin-top:10px"><a routerLink=""><button (click)="hidepop()" class="btn btn-orange pull-right">Về trang chủ</button></a></p>
</app-dialog>