<div id="maincontainer" *ngIf="!flag_search1">
  <section id="product">
    <div class="container">
      <!--  breadcrumb -->
      <ul class="breadcrumb">
        <li>
          <a routerLink="" class="js-home">Trang chủ</a>
          <span class="divider">/</span>
        </li>
        <li class="active">Liên hệ</li>
      </ul>
      <!-- Contact Us-->
      <h1 class="heading1"><span class="maintext">Liên hệ</span><span class="subtext"></span></h1>
      <div class="row">
        <div class="span9">

          <form class="form-horizontal" (ngSubmit)="contact(f)" #f="ngForm">

            <fieldset>
              <div class="control-group">
                <label for="name" class="control-label">Tên <span class="required">*</span></label>
                <div class="controls">
                  <input type="text" id="name" class="form-control" required minlength="4" maxlength="24" name="name" [(ngModel)]="account.name"
                    #name="ngModel" value="{{name}}">
                  <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                    <div [hidden]="!name.errors.required">
                      Name is required
                    </div>
                    <div [hidden]="!name.errors.minlength">
                      Name must be at least 4 characters long.
                    </div>
                    <div [hidden]="!name.errors.maxlength">
                      Name cannot be more than 24 characters long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label for="email" class="control-label">Email <span class="required">*</span></label>
                <div class="controls">
                  <input type="text" id="email" class="form-control" required name="email" [(ngModel)]="account.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    value="{{email}}">
                  <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
                    <div [hidden]="!email.errors.required">
                      Email is required
                    </div>
                    <div [hidden]="!email.errors.pattern">
                      Email is invalid
                    </div>
                  </div>



                </div>
              </div>
              <div class="control-group">
                <label for="url" class="control-label">Website </label>
                <div class="controls">
                  <input type="url" class="form-control" name="url" [ngModel]="" required pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
                    #url="ngModel">

                  <div *ngIf="url.errors && (url.dirty || url.touched)" class="alert alert-danger">
                    <div [hidden]="!url.errors.required">
                      Url is required
                    </div>
                    <div [hidden]="!url.errors.pattern">
                      Url is invalid
                    </div>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label for="message" class="control-label">Nội dung </label>
                <div class="controls">
                  <textarea class="required" rows="6" cols="40" id="message" name="messagee" [ngModel]="" required #messagee="ngModel"></textarea>
                  <div *ngIf="messagee.errors && (messagee.dirty || messagee.touched)" class="alert alert-danger">
                    <div [hidden]="!messagee.errors.required">
                      Messagee is required
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions">
                <button class="btn btn-orange" id="submit_id" [disabled]="!f.form.valid">Gửi</button>
                <button class="btn" type="reset">Xóa</button>
              </div>
              <div class="clearfix"></div>
              <div [@visibilityChanged]="visibility" *ngIf="flag_success" class="alert alert-success" style="margin-top: 10px">
                Congratulations! You sent the message successfully
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Sidebar Start-->
        <div class="span3">
          <aside>
            <div class="sidewidt">
              <h2 class="heading2"><span>Thông tin liên lạc</span></h2>
              <p> Lorem Ipsum is simply<br> Lorem Ipsum is simply<br> Lorem Ipsum is simply<br>
                <br> Phone: +84 905992386<br> Fax: (84) 905992386<br> Email: hunglaravel@gmail.com<br> Website: hunglaravel.com<br>
              </p>
            </div>
          </aside>
        </div>
        <!-- Sidebar End-->

      </div>
    </div>
  </section>
</div>