tp-collapse {
  display: block;
}
tp-collapse:last-child .collapsible-body {
  border-bottom: 2px solid #fff;
}

.collapsible-header {
  display: block;
  cursor: pointer;
  min-height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  background-color: #f25c27;
  color: #fff;
  border-bottom: 1px solid #fff;
  user-select: none;
}

.collapsible-body {
  display: none;
  border-bottom: 1px solid #ddd;
  padding: 2rem;
}
.collapsible-body.active {
  display: block;
}
