 #featured .thumbnail img,#latest .thumbnail img{
    height: 300px;
    width: 100% !important;
  }
  .thumbnail .price {
      margin-top: 10px;
  }
  #home .sk-circle-wrap {
    margin-top: 0;
    position: fixed;
    z-index: 9999;
}